spring:
    application:
        name: auth-service
    datasource:
        url: jdbc:postgresql://localhost:5432/postgres_db
        username: user
        password: password
        driver-class-name: org.postgresql.Driver
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format_sql: true
                connection:
                    driver_class: org.postgresql.Driver
                    dialect: org.hibernate.dialect.PostgreSQLDialect

server:
    port: 8081


rsa:
    private-key: classpath:/keys/private.pem
    public-key: classpath:/keys/public.pem