spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

server:
  port: 8081