spring:
    application:
        name: auth-service
    threads:
        virtual:
            enabled: true
    datasource:
        url: jdbc:postgresql://192.168.1.109:5432/postgres_db
        username: user
        password: password
        driver-class-name: org.postgresql.Driver
        hikari:
            maximum-pool-size: 20
            minimum-idle: 5

            connection-timeout: 30000
            idle-timeout: 600000
            max-lifetime: 1800000

            auto-commit: true
            pool-name: HikariPool-AuthService
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                connection:
                    driver_class: org.postgresql.Driver
                    dialect: org.hibernate.dialect.PostgreSQLDialect
                highlight_sql: false
    mail:
        host: 192.168.1.109
        port: 1025
        username: ""
        password: ""
        properties:
            mail:
                smtp:
                    auth: false
                    starttls:
                        enable: false

server:
    port: 8081
    address: localhost


rsa:
    private-key: classpath:/keys/private.pem
    public-key: classpath:/keys/public.pem

management:
    endpoints:
        web:
            exposure:
                include: "*"
    metrics:
        export:
            prometheus:
                enabled: true
        tags:
            application: auth-service
        distribution:
            percentiles-histogram:
                http:
                    server:
                        requests: 'true'

    endpoint:
        prometheus:
            enabled: true

    tracing:
        sampling:
            probability: 1.0

    observations:
        annotations:
            enabled: true

otel:
    exporter:
        otlp:
            protocol: grpc
            endpoint: http://192.168.1.109:4319/
    logs:
        exporter: none
    metrics:
        exporter: none

logging:
    config: classpath:logback-spring.xml

#debug: true