spring:
    application:
        name: auth-service
    datasource:
        url: jdbc:postgresql://localhost:5432/postgres_db
        username: user
        password: password
        driver-class-name: org.postgresql.Driver
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                connection:
                    driver_class: org.postgresql.Driver
                    dialect: org.hibernate.dialect.PostgreSQLDialect
                highlight_sql: false
    mail:
        host: localhost
        port: 1025
        username: ""
        password: ""
        properties:
            mail:
                smtp:
                    auth: false
                    starttls:
                        enable: false

server:
    port: 8081
    address: localhost


rsa:
    private-key: classpath:/keys/private.pem
    public-key: classpath:/keys/public.pem

management:
    endpoints:
        web:
            exposure:
                include: "*"
    metrics:
        export:
            prometheus:
                enabled: true
        tags:
            application: auth-service
        distribution:
            percentiles-histogram:
                http:
                    server:
                        requests: 'true'

    endpoint:
        prometheus:
            enabled: true

    tracing:
        sampling:
            probability: 1.0

    observations:
        annotations:
            enabled: true


    otlp:
        tracing:
            endpoint: http://alloy:4320/


logging:
    config: classpath:logback-spring.xml
otel:
    exporter:
        otlp:
            protocol: http/protobuf
            endpoint: http://alloy:4320/
    logs:
        exporter: none
    metrics:
        exporter: none
#debug: true