version: '3.8'

networks:
    observability-net:
        driver: bridge

services:
    main_database_postgres:
        image: postgres:latest
        container_name: main_database_postgres
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
            POSTGRES_DB: postgres_db
        ports:
            - "5432:5432"
        volumes:
            - main_postgres_data:/var/lib/postgresql
        networks:
            - observability-net

    auth-service:
        #        build:
        #            context: .
        #            dockerfile: ./auth-service/Dockerfile
        image: hexaend/auth-service:latest
        container_name: app-auth-service
        ports:
            - "8081:8081"
        environment:
            - SPRING_DATASOURCE_URL=jdbc:postgresql://main_database_postgres:5432/postgres_db
            - SPRING_DATASOURCE_USERNAME=user
            - SPRING_DATASOURCE_PASSWORD=password
            - SERVER_PORT=8081
            - SERVER_ADDRESS=0.0.0.0
            - SPRING_MAIL_HOST=mailpit
            - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:14317/
            - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
        depends_on:
            alloy:
                condition: service_started
            main_database_postgres:
                condition: service_started
        networks:
            - observability-net

    prometheus:
        image: prom/prometheus:latest
        container_name: prometheus
        ports:
            - "9090:9090"
        volumes:
            - ./infrastructure/prometheus/prometheus.yaml:/etc/prometheus/prometheus.yml
        networks:
            - observability-net
        healthcheck:
            test: [ "CMD", "wget", "--spider", "-q", "http://localhost:9090/-/ready" ]
            interval: 10s
            timeout: 5s
            retries: 5

    grafana:
        image: grafana/grafana-oss:latest
        container_name: grafana
        ports:
            - "3000:3000"
        environment:
            - GF_SECURITY_ADMIN_USER=admin
            - GF_SECURITY_ADMIN_PASSWORD=admin
        depends_on:
            prometheus:
                condition: service_healthy
        volumes:
            - grafana-storage:/var/lib/grafana
        networks:
            - observability-net
        healthcheck:
            test: [ "CMD", "wget", "--spider", "-q", "http://localhost:3000/api/health" ]
            interval: 10s
            timeout: 5s
            retries: 5

    loki:
        image: grafana/loki:latest
        container_name: loki
        ports:
            - "3100:3100"
        command: -config.file=/etc/loki/loki-config.yaml
        user: "root"
        volumes:
            - ./infrastructure/loki/loki-config.yaml:/etc/loki/loki-config.yaml:ro
            - loki_chunks:/tmp/loki/chunks
            - loki_index:/tmp/loki/index
            - loki_rules:/tmp/loki/rules
        networks:
            - observability-net

    alloy:
        image: grafana/alloy:latest
        container_name: alloy
        user: root
        ports:
            - "9080:9080"
            - "14317:14317" # OTLP gRPC
            - "14318:14318" # OTLP HTTP
        volumes:
            - ./infrastructure/alloy/config.alloy:/etc/alloy/config.alloy:ro
            - /var/lib/docker/containers:/var/lib/docker/containers:ro
            - /var/run/docker.sock:/var/run/docker.sock
            - /var/log:/var/log:ro
        environment:
            GRAFANA_LOKI_URL: http://loki:3100/loki/api/v1/push
        command:
            - run
            - --server.http.listen-addr=0.0.0.0:9080
            - --storage.path=/var/lib/alloy/data
            - /etc/alloy/config.alloy
        networks:
            - observability-net
        healthcheck:
            test: [ "CMD", "wget", "--spider", "-q", "http://localhost:9080/-/ready" ]
            interval: 10s
            timeout: 5s
            retries: 3
            start_period: 10s

    tempo:
        image: grafana/tempo:latest
        container_name: tempo
        command: [ "-config.file=/etc/tempo/tempo.yaml" ]
        volumes:
            - ./infrastructure/tempo/tempo.yaml:/etc/tempo/tempo.yaml
            - tempo_data:/var/tempo
        ports:
            - "3200:3200"
            - "4317:4317"
            - "4318:4318"
        networks:
            - observability-net

    mailpit:
        image: axllent/mailpit
        container_name: mailpit
        volumes:
            - ./data:/data
        ports:
            - "8025:8025"
            - "1025:1025"
        networks:
            - observability-net
        environment:
            MP_MAX_MESSAGES: 5000
            MP_DATABASE: /data/mailpit.db
            MP_SMTP_AUTH_ACCEPT_ANY: 1
            MP_SMTP_AUTH_ALLOW_INSECURE: 1

    controller-1:
        image: apache/kafka:latest
        container_name: controller-1
        restart: unless-stopped
        environment:
            KAFKA_NODE_ID: 1
            KAFKA_PROCESS_ROLES: controller
            KAFKA_LISTENERS: CONTROLLER://:9093
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
            KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
        networks:
            - observability-net

    controller-2:
        image: apache/kafka:latest
        container_name: controller-2
        environment:
            KAFKA_NODE_ID: 2
            KAFKA_PROCESS_ROLES: controller
            KAFKA_LISTENERS: CONTROLLER://:9093
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
            KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
        networks:
            - observability-net

    controller-3:
        image: apache/kafka:latest
        container_name: controller-3
        environment:
            KAFKA_NODE_ID: 3
            KAFKA_PROCESS_ROLES: controller
            KAFKA_LISTENERS: CONTROLLER://:9093
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
            KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
        networks:
            - observability-net

    broker-1:
        image: apache/kafka:latest
        container_name: broker-1
        ports:
            - "29092:9092"
        environment:
            KAFKA_NODE_ID: 4
            KAFKA_PROCESS_ROLES: broker
            KAFKA_LISTENERS: 'PLAINTEXT://:19092,PLAINTEXT_HOST://:9092'
            KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://broker-1:19092,PLAINTEXT_HOST://localhost:29092'
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
            KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
            KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
        depends_on:
            - controller-1
            - controller-2
            - controller-3
        networks:
            - observability-net

    broker-2:
        image: apache/kafka:latest
        container_name: broker-2
        ports:
            - "39092:9092"
        environment:
            KAFKA_NODE_ID: 5
            KAFKA_PROCESS_ROLES: broker
            KAFKA_LISTENERS: 'PLAINTEXT://:19092,PLAINTEXT_HOST://:9092'
            KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://broker-2:19092,PLAINTEXT_HOST://localhost:39092'
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
            KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
            KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
        depends_on:
            - controller-1
            - controller-2
            - controller-3
        networks:
            - observability-net

    broker-3:
        image: apache/kafka:latest
        container_name: broker-3
        ports:
            - "49092:9092"
        environment:
            KAFKA_NODE_ID: 6
            KAFKA_PROCESS_ROLES: broker
            KAFKA_LISTENERS: 'PLAINTEXT://:19092,PLAINTEXT_HOST://:9092'
            KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://broker-3:19092,PLAINTEXT_HOST://localhost:49092'
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
            KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
            KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
        depends_on:
            - controller-1
            - controller-2
            - controller-3
        networks:
            - observability-net

    kafka-ui:
        container_name: kafka-ui
        image: provectuslabs/kafka-ui:latest
        ports:
            - "7080:8080"
        environment:
            KAFKA_CLUSTERS_0_NAME: "local"
            KAFKA_CLUSTERS_0_BOOTSTRAP_SERVERS: "broker-1:19092,broker-2:19092,broker-3:19092"
            KAFKA_CLUSTERS_0_SCHEMAREGISTRY: http://schema-registry:8081
        depends_on:
            - broker-1
            - broker-2
            - broker-3
        networks:
            - observability-net

    schema-registry:
        image: confluentinc/cp-schema-registry:latest
        container_name: schema-registry
        ports:
            - "7081:8081"
        volumes:
            - schema_registry_data:/etc/schema-registry
        environment:
            SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: "broker-1:19092,broker-2:19092,broker-3:19092"
            SCHEMA_REGISTRY_HOST_NAME: schema-registry
        depends_on:
            - broker-1
            - broker-2
            - broker-3
        networks:
            - observability-net

    cassandra-1:
        image: "cassandra:latest"  # cassandra:4.1.3
        container_name: "cassandra-1"
        ports:
            - 7000:7000
            - 9042:9042
        networks:
            - observability-net
        environment:
            - CASSANDRA_START_RPC=true
            - CASSANDRA_RPC_ADDRESS=0.0.0.0
            - CASSANDRA_LISTEN_ADDRESS=auto
            - CASSANDRA_CLUSTER_NAME=my-cluster
            - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
            - CASSANDRA_DC=my-datacenter-1
        volumes:
            - cassandra-node-1:/var/lib/cassandra:rw
        healthcheck:
            test: [ "CMD-SHELL", "nodetool status" ]
            interval: 2m
            start_period: 2m
            timeout: 10s
            retries: 3

#    cassandra-2:
#        image: "cassandra:latest"
#        container_name: "cassandra-2"
#        ports:
#            - 9043:9042
#        networks:
#            - observability-net
#        environment:
#            - CASSANDRA_START_RPC=true
#            - CASSANDRA_RPC_ADDRESS=0.0.0.0
#            - CASSANDRA_LISTEN_ADDRESS=auto
#            - CASSANDRA_CLUSTER_NAME=my-cluster
#            - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
#            - CASSANDRA_DC=my-datacenter-1
#            - CASSANDRA_SEEDS=cassandra-1
#        depends_on:
#            cassandra-1:
#                condition: service_healthy
#        volumes:
#            - cassandra-node-2:/var/lib/cassandra:rw
#        healthcheck:
#            test: [ "CMD-SHELL", "nodetool status" ]
#            interval: 2m
#            start_period: 2m
#            timeout: 10s
#            retries: 3
#
#    cassandra-3:
#        image: "cassandra:latest"
#        container_name: "cassandra-3"
#        ports:
#            - 9044:9042
#        networks:
#            - observability-net
#        environment:
#            - CASSANDRA_START_RPC=true
#            - CASSANDRA_RPC_ADDRESS=0.0.0.0
#            - CASSANDRA_LISTEN_ADDRESS=auto
#            - CASSANDRA_CLUSTER_NAME=my-cluster
#            - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
#            - CASSANDRA_DC=my-datacenter-1
#            - CASSANDRA_SEEDS=cassandra-1
#        depends_on:
#            cassandra-2:
#                condition: service_healthy
#        volumes:
#            - cassandra-node-3:/var/lib/cassandra:rw
#        healthcheck:
#            test: [ "CMD-SHELL", "nodetool status" ]
#            interval: 2m
#            start_period: 2m
#            timeout: 10s
#            retries: 3

volumes:
    main_postgres_data:
    grafana-storage:
    loki_chunks:
    loki_index:
    loki_rules:
    tempo_data:
    schema_registry_data:
    cassandra-node-1:
#    cassandra-node-2:
#    cassandra-node-3: