name: ci-cd.yaml
on:
    push:
        branches:
            - main

jobs:
    test-build:
        name: Test and Build
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4
            -   name: Set up JDK 24
                uses: actions/setup-java@v4
                with:
                    distribution: 'temurin'
                    java-version: '24'

            -   name: Cache Gradle
                uses: actions/cache@v4
                with:
                    path: |
                        ~/.gradle/caches
                        ~/.gradle/wrapper
                    key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*','**/gradle-wrapper.properties') }}
                    restore-keys: |
                        gradle-${{ runner.os }}-

            -   name: Grant execute permission for gradlew (if exists)
                run: chmod +x gradlew || true

            -   name: Build and run tests
                run: ./gradlew :auth-service:clean -x test :auth-service:build --no-daemon

            -   name: Upload jar artifact
                uses: actions/upload-artifact@v4
                with:
                    name: auth-service-jar
                    path: auth-service/build/libs/*.jar